* {
  box-sizing: border-box;
}

body {
  background: url("https://i.pinimg.com/originals/d8/39/74/d839742a057e1d111d0373fa614de906.jpg");
  background-size: cover;
  background-position: center;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, Times, sans-serif;
}

header {
  position: relative;
  color: blue;
  font-size: 8vmin;
  top: 18vmin;
}

h2 {
  position: relative;
  top: 19vmin;
}

#markers {
  display: grid;
  grid-template-columns: repeat(7, 12.6vmin);
  gap: 0.5vmin;
  margin-top: 0.2vmin;
  
}

#markers > div {
  height: 1vmin;
  position: relative;
  border-width: 5vmin;
  border-style: solid;
  border-color: blue transparent transparent;
  transform: scale(0.7);
  top: 18vmin;
}

#markers > div:hover {
  transform: scale(0.9);
  transition: transform 150ms ease-in;
  border-top-color: darkgray;
}

#board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 9vmin);
  grid-template-columns: repeat(7, 12vmin);
  margin-top: 15vmin;
  border: 1vmin solid black;
  border-radius: 10%;
  padding: 20px;
  background-color: yellow;
  gap: 1.25vmin;
}

div {
  border: 0.8vmin solid black;
  border-radius: 50%;
}

div:hover {
  transform: scale(1.15);
  transition: transform 150ms ease-in;
  border-color: black;
}

div, button {
  cursor: pointer;
}

button {
  position: relative;
  color: yellow;
  background-color: blue;
  border-color: red;
  font-size: 7vmin;
  right: 75vmin;
  bottom: 41vmin;
}
