* {
  box-sizing: border-box;
}

header {
  position: relative;
  color: black;
  font-size: 8vmin;
  top: 18vmin;
}

body {
  background: url("https://i.pinimg.com/originals/d8/39/74/d839742a057e1d111d0373fa614de906.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, Times, sans-serif;
}

h2 {
  position: relative;
  top: 19vmin;
}

#markers {
  display: grid;
  grid-template-columns: repeat(7, 12.6vmin);
  gap: 0.5vmin;
  margin-top: 0.2vmin;
}

#markers > div {
  height: 1vmin;
  position: relative;
  border-width: 5vmin;
  border-style: solid;
  border-color: rgb(236, 144, 144) transparent transparent;
  transform: scale(0.7);
  top: 18vmin;
}

#markers > div:hover {
  transform: scale(0.9);
  transition: transform 150ms ease-in;
  border-top-color: lightcoral;
}

#board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 9vmin);
  grid-template-columns: repeat(7, 12vmin);
  margin-top: 15vmin;
  border: 1vmin solid black;
  border-radius: 10%;
  padding: 20px;
  background-color: lightgreen;
  gap: 1.25vmin;
}

div {
  border: 0.8vmin solid black;
  border-radius: 50%;
}

div:hover {
  transform: scale(1.15);
  transition: transform 150ms ease-in;
  border-color: black;
}

div, button {
  cursor: pointer;
}

button {
  position: relative;
  color: lightgreen;
  background-color: green;
  border-color: lightblue;
  font-size: 3.5vmin;
  bottom: 77vmin;
}

button:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width: 525px) {

  body {
    background: url("https://i.pinimg.com/originals/d8/39/74/d839742a057e1d111d0373fa614de906.jpg");
    background-size: fill;
    background-repeat: no-repeat;
  }

  #board {
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, 9vmin);
    grid-template-columns: repeat(7, 12vmin);
    margin-top: 15vmin;
    top: 5vmin;
    border: 1vmin solid black;
    border-radius: 10%;
    padding: 20px;
    background-color: lightgreen;
    gap: 1.25vmin;
  }

  button {
    position: relative;
    color: lightgreen;
    background-color: green;
    border-color: lightblue;
    font-size: 4vmin;
    bottom: 79vmin;
  }
}

@media only screen and (min-width: 526px) and (max-width: 620px) {

  body {
    background: url("https://i.pinimg.com/originals/d8/39/74/d839742a057e1d111d0373fa614de906.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #board {
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, 9vmin);
    grid-template-columns: repeat(7, 12vmin);
    margin-top: 15vmin;
    top: 17vmin;
    border: 1vmin solid black;
    border-radius: 10%;
    padding: 20px;
    background-color: lightgreen;
    gap: 1.25vmin;
  }

  button {
    position: relative;
    color: lightgreen;
    background-color: green;
    border-color: lightblue;
    font-size: 4vmin;
    bottom: 70vmin;
  }

  h2 {
    position: relative;
    top: 25vmin;
  }

  header {
    position: relative;
    top: 23vmin;
  }
}