* {
  box-sizing: border-box;
}

body {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, Times, sans-serif;
}

h1 {
  background-color: lightblue;
  color:blue;
}


 #board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  border: 5vmin solid black;

}